.top_nav{
    display:flex;
    border-bottom: 1px solid #dddddd;
    width: 100%;
    margin-top:25px;
}
.top_nav div{
    margin-right: -1px;
    margin-bottom: -1px;
    padding:10px 0;
    font-size: 16px;
    font-weight: bold;
    border:1px solid #dddddd;
    background-color: #ffffff;
}
.top_nav a{
    padding: 6px 30px;
}
.asking_list{
    margin-top:25px;
    width: 100%;
}
.asking_list > div{
    display: flex;
    text-align: center;
    border-bottom:1px solid #dddddd;
}
.asking_list > div:first-child{
    background-color: #f5f5f5;
    border-bottom: 1px solid #999999;
}
.asking_list > div > div{
    padding:15px 0;
}
.asking_list > div > div:first-child{
    width: 65%;
    padding-left: 15px;
}
.asking_list > div > div:nth-child(2){
    width: 15%;
}
.asking_list > div > div:last-child{
    width: 20%;
}
.asking_list > div > div:first-child:not(.asking_list > div:first-child > div:first-child){
    text-align:left;
}
.asking_list > div{
    border-left: 1px solid #dddddd;
}
.asking_list > div > div{
    border-right:1px solid #dddddd;
}
.asking_list a:hover{
    text-decoration:underline;
}
.paging{
    text-align:center;
    font-size: 18px;
    font-weight:bold;
    margin-top: 50px;
    margin-bottom: 100px;
}
.paging a{
    padding:10px;
}
.paging a:hover{
    color:#FFAEC9;
}   