body{
    background-color: #FFAEC9;
}
main{
    background-color: #FFAEC9;
}
.auth_box{
    background-color: #ffffff;
    padding:50px;
    margin:50px auto;
    width: 60%;
    height:400px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}
.auth_title{
    font-size: 24px;
}
.email{
    font-size: 50px;
    padding:50px 0;
}
.auth_box input[type=text]{
    border: 1px solid #dddddd;
    padding:5px;
    font-size:18px;
    margin-left:15px;
}
.auth_box button[type=submit]{
    padding:10px 20px;
    font-size: 18px;
    font-weight:bold;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}
.auth_box button[type=submit]:hover{
    cursor:pointer;
}
.auth_form{
    font-size:18px;
    padding:30px 0;
}
.submit_btn{
    margin-top: 30px;
    text-align: center;
}