.top_nav{
    display: flex;
    padding-bottom:15px;
}
.top_nav a{
    padding:5px;
    font-size: 18px;
}
.faq{
    border-top:1px solid #999999;
}
.question, .answer{
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid #dddddd;
}
.question{
    align-items: center;
    cursor: pointer;
}
.answer{
    background-color: #f5f5f5;
    display: none;
}
.answer_display{
    display: flex;
}
.question > div:first-child, .answer > div:first-child{
    padding:10px;
    width: 5%;
    font-size: 20px;
}
.question_type{
    width:10%;

    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 10%;


}

.question_contents{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%
}

.answer_contents{
    padding:10px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}
.answer p{
    /*margin-bottom:10px;*/
    line-height: normal;
    white-space: pre-wrap; /* 줄바꿈하는 방법 */
}
.paging{
    margin-top: 50px;
    text-align:center;
    font-size: 18px;
    font-weight:bold;
    margin-bottom: 100px;
}
.paging a{
    padding:10px;
}
.paging a:hover{
    color:#FFAEC9;
}
.post_button{
    text-align: right;
    margin-top: 15px;
}
.post_button:last-child{
    margin-top:15px;
}
.post_button button{
    font-size: 16px;
    padding:5px 15px;
    border:1px solid #dddddd;
    background-color: #ffffff;
    margin-left:10px;
}
.post_button button:hover{
    cursor:pointer;
}