.container{
    width:95%;
    margin:0 auto;
    max-width:1780px;
}
.title{
    margin:30px 0;
    font-size:30px;
    font-weight:bold;
}
.select_var{
    border-bottom:2px solid #FFAEC9;
    display: block;
    float:left;
    width:100%;
}
.select_list li{
    float:left;
}
.select_id{
    text-align:center;
    display:block;
    border-width:1px 0 0 1px;
    border-style:solid;
    border-color:#cccccc;
    margin:0;
    width:180px;
    padding-top:10px;
    padding-bottom:11px;
    background-color: #eeeeee;
    font-weight:bold;
    color:#555555;
}
.select_pwd{
    text-align:center;
    display:block;
    border-width:2px 2px 0 2px;
    border-style:solid;
    border-color:#FFAEC9;
    margin:0;
    width:180px;
    padding-top:9px;
    padding-bottom:13px;
    margin-bottom:-2px;
    background-color:#ffffff;
    font-weight:bold;
}
@media(min-width:1530px){
    .table_area{
        width:80%;
    }
}
@media(max-width:1530px) {
    .table_area{
        width:1150px;
    }
}
.table_area{
    margin:0 auto;
    margin-top:120px;
}
.info{
    width:100%;
    border-top:2px solid #888888;
    border-collapse: collapse;
}
td{
    border-bottom: 1px solid #dddddd;
    padding:20px;
}
.input_text{
    border:1px solid #dddddd;
    padding:5px;
}
.table_bg_color{
    font-size: 14px;
    background-color:#FDEBF2;
}
.border_left{
    border-left: 1px solid #dddddd;
}
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.send_email{
    width: 100px;
    height: 26px;
    padding:0;
    color:#ffffff;
    background-color: #FFAEC9;
}
.send_email:hover{
    cursor:pointer;
}
#submit{
    display:block;
    background-color:#FFAEC9;
    color:#ffffff;
    font-size:20px;
    font-weight:bold;
    padding:10px 15px;
    border-radius:5px;
    margin:0 auto;
    margin-top:30px;
}
#submit:hover{
    cursor:pointer;
    background-color:#DC98AF;
}
.loading_fix{
    display: none;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
}
.loading_circle {
    width: 50px;
    height: 50px;
    margin: 10px auto;

    border: 10px solid #e3e3e3;
    border-bottom: 10px solid #FFAEC9;
    border-radius: 50%;

    animation: load 1.5s linear infinite;
}

@keyframes load {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}