.group_buying{
    margin: 0 auto;
    margin-bottom:150px;
}
.group_top{
    margin-top: 30px;
    text-align: center;
    padding:60px 30px;
    border:1px solid #dddddd;
}
.group_buying table{
    margin-top:50px;
    border-top: 2px solid #999999;
    width: 100%;
    padding:30px;
}
.group_buying tr{
    border-bottom:1px solid #dddddd;
}
.group_buying td{
    padding:50px 15px;
}
.group_buying td:first-child{
    font-size: 20px;
}
.buying_process{
    display:flex;
    align-items: center;
    text-align: center;
}
.buying_process div:nth-child(2n+1){
    width: 150px;
    padding:43px 0;
    background-color: #f5f5f5;
    font-weight: 600;
}
.buying_process div:nth-child(2n+2){
    padding:15px;
}
.group_buying p{
    margin-bottom:10px;
}