@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Raleway:wght@500&display=swap');
header{
    position:relative;
    z-index:999;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    min-width:1220px;
    width: 100%;
    top:0;
    background-color:#fff;
}
.header_area{
    margin:0 auto;
    max-width:1600px;
    min-width:1150px;
}
@media (max-width: 1700px) {
    .header_area {
        padding:0 30px;
    }
}
.row{
    display:flex;
    align-items:center;
}
.logo_area{
    width:25%;
    padding:10px 0;
}
.logo{
    font-size:45px;
    color:#FFAEC9;
    font-family: 'Bree Serif', serif;
}
.menu_list{
    width:50%;
    text-align: center;
}
.top_menu{
    display:flex;
    justify-content:center;
}
.top_menu > li > a, #user_util > .submenu_nav > a{
    line-height: 60px;
    padding: 25px 25px;
    font-size:22px;
    white-space: nowrap;
    font-family: 'Raleway', sans-serif;
}
.top_menu > li > a:hover, .tools a:hover, .submenu_nav a:hover{
    color:#FFAEC9;
    transition: all ease 0.2s 0s;
}
.submenu_nav a:hover{
    text-decoration: underline;
}
.submenu_nav{
    position:absolute;
    opacity: 0;
    transition:0.5s;
    background-color:#fff;
    box-shadow: 0 1px 24px 0 rgba(0, 0, 0, 0.09);
    padding:18px 0px;
    font-size:22px;
    pointer-events: none;
}
.submenu_nav > li > a{
    display:block;
    padding:10px 35px;
    font-family: 'Raleway', sans-serif;
}
.gender_on:hover .submenu_nav, #user_util:hover .user_menu{
    display: block;
    opacity: 1;
    pointer-events: auto;
}
.gender_on:hover > a{
    color: #FFAEC9;
    transition: all ease 0.2s 0s;
}
.tools{
    width:25%;
    display:flex;
    justify-content:flex-end;
    font-size:22px;
    align-items: center;
}
#user_util > a{
    line-height: 60px;
}
.user_menu{
    position:absolute;
    opacity: 0;
    transition:0.5s;
    background-color:#fff;
    box-shadow: 0 1px 24px 0 rgba(0, 0, 0, 0.09);
    padding:18px 0px;
    font-size:14px;
    pointer-events: none;
}
.user_menu > li > a{
    display:block;
    padding:10px 20px;
    font-family: 'Raleway', sans-serif;
}
.tools > div > a{
    margin:30px 0px 30px 20px;
    font-family: 'Raleway', sans-serif;
}
.tools:last-child{
    font-size:20px;
}
.search_area{
    position:absolute;
    padding: 30px 40px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    top:-130px;
    right:10%;
    opacity: 0;
    background-color:#fff;
    border-radius:10px;
    font-size:22px;
    transition:opacity 0.3s;
}
.search_close{
    position:absolute;
    top:0;
    right:0;
    border:0;
    background-color: transparent;
    font-size:20px;
}
.search_area form{
    border:2px solid #FFAEC9;
    border-radius:30px;
    padding:10px;
}
.search_close:hover{
    cursor: pointer;
}
#search, #search_button{
    background-color:transparent;
    font-size:20px;
}
#search_button:hover{
    cursor: pointer;
    color: #FFAEC9;
}