.notice_write{
    margin-top:15px;
}
.mustread{
    font-size: 20px;
    display: flex;
    align-items:center;
}
.mustread input[type="checkbox"]{
    width: 20px;
    height: 20px;
}
.title{
    display: flex;
    margin-top: 10px;
}
.title select{
    width:20%;
}
.title input[type="text"]{
    width: 80%;
    margin-left: 15px;
}
.title select, .title input[type="text"], .notice_contents textarea{
    border:1px solid #dddddd;
    font-size: 18px;
    padding:10px;
}
.notice_contents{
    margin-top: 10px;
}
.notice_contents textarea{
    width:100%;
    box-sizing: border-box;
}
.notice_button{
    text-align:center;
    margin-top: 20px;
}
.notice_button button{
    font-size:20px;
    font-weight: bold;
    border-radius: 5px;
}
.notice_button button:hover{
    cursor: pointer;
}
.notice_button button[type="submit"]{
    padding:10px 20px;
    color:#ffffff;
    background-color:#FFAEC9;
}
.notice_button button[type="button"]{
    margin-left: 5px;
    padding:9px 20px;
    background-color:#ffffff;
    border: 1px solid #dddddd;
}