.order_MNG{
    margin-top: 25px;
}
.status_menu{
    display: flex;
    width:70%;
}
.status_menu:hover{
    cursor: pointer;
}
.status_menu > div{
    width:20%;
    border:1px solid #dddddd;
    border-radius:10px;
    padding:40px 30px;
    display: flex;
    flex-direction: column;
}
.status_menu > div:not(.status_menu > div:last-child){
    margin-right: 10px;
}
.status_menu > div > div:first-child{
    margin-bottom: 10px;
}
.status_menu > div > div:last-child{
    margin-left: 5px;
    font-weight: bold;
}
.checked_tools{
    margin-top: 10px;
}
.checked_tools button{
    background-color: #ffffff;
    border:1px solid #dddddd;
    padding:10px 20px;
    margin-right: 5px;
}
.checked_tools button:hover{
    cursor: pointer;
    background-color: #f5f5f5;
}
.table_box{
    margin-top: 10px;
    overflow-x: auto;
}
@media(max-width:1703px){
    .order_table{
        width:1500px;
    }
}
@media(min-width:1703px){
    .order_table{
        width: 100%;
    }
}
.order_table{
    text-align: center;
}
.order_table tr:first-child{
    background-color: #f5f5f5;
    border-bottom: 1px solid #999999;
}
.order_table td{
    padding:15px;
}
.paging{
    padding:40px 0 40px 0;
    text-align:center;
    font-size: 18px;
    font-weight:bold;
}
.paging a{
    padding:10px;
}
.paging a:hover{
    color:#FFAEC9;
}
.order_search{
    text-align: center;
    margin-bottom: 50px;
}
.order_search form{
    display: flex;
    justify-content: center;
}
.order_search select{
    border:1px solid #dddddd;
    padding:5px;
    font-size: 16px;
}
.order_search input{
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: #dddddd;
    padding:5px;
    font-size: 16px;
}
.order_search button{
    background-color: #FFAEC9;
    color: #ffffff;
    padding:5px 15px;
    font-size: 16px;
}
.order_search button:hover{
    cursor: pointer;
}
.search_user{
    text-align: center;
    margin-bottom: 50px;
}
.search_user select{
    border:1px solid #dddddd;
    padding: 4.5px;
    font-size: 16px;
}
.search_user input{
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: #dddddd;
    padding: 5px;
    width:20%;
    font-size: 16px;
}
.search_user button{
    padding:6px 15px;
    background-color: #FFAEC9;
    color: #ffffff;
    font-size: 16px;
}
.search_user button:hover{
    cursor: pointer;
}