.container{
    padding:0 30px;
    margin:0 auto;
}
.title{
    width:100%;
    position:relative;
}
.title div:last-child{
    font-size:35px;
    color:#FFAEC9;
    font-weight:bold;
    position:absolute;
    top:42%; text-align:center;
    width:100%;
}
.image{
    overflow:hidden;
    height:250px;
}
.image img{
    width:100%;
}
.move{
    margin:40px 0;
    display: flex;
    justify-content: space-between;
}
#addProduct{
    padding:10px 20px;
    background-color: #FFAEC9;
    color: #ffffff;
    border-radius: 5px;
    font-size: 18px;
}
#addProduct:hover{
    background-color: #DC98AF;
}
.search_option > a{
    padding:0 20px;
}
.search_option > a:hover{
    color: #FFAEC9;
    font-weight: bold;
}
.search_option > a:not(.search_option > a:last-child){
    border-right: 1px solid #999999;
}
.product_line{
    width: 100%;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
    margin-bottom:10px;
}
.product{
    transition: 0.2s;
}
.product img{
    width:100%;
}
.product:hover .detail > div:first-child{
    color: #FFAEC9;
    text-decoration:underline;
}
.product img{
    object-fit:cover;
    height:80%;
}
.detail{
    width:100%;
}
.detail div{
    width:100%;
    text-align:center;
}
.detail div:first-child{
    font-size:22px;
    margin-top:20px;
}
.detail div:nth-child(2){
    font-size:18px;
    color: #FFAEC9;
    font-weight:bold;
    margin-top:10px;
}
.detail > div:last-child{
    font-size:18px;
    margin-top:10px;
}
.star{
    color:rgb(250, 146, 0);
}
.heart{
    color:rgb(243, 17, 16);
}
del{
    color:#cccccc;
    font-size:14px;
}
@media(max-width:1500px){
    .paging{
        margin-top: 50px;
    }
}
.paging{
    text-align:center;
    font-size: 18px;
    font-weight:bold;
    margin-bottom: 200px;
}
.paging a{
    padding:10px;
}
.paging a:hover{
    color:#FFAEC9;
}