.container{
    padding:0 30px;
    margin:0 auto;
}
.move{
    margin:40px 0;
}
.product_info{
    width:100%;
    display:flex;
    justify-content:space-between;
}
.product_info img{
    width:100%;
    height:100%;
    object-fit:cover;
}
.product_img, .info{
    width:45%;
}
.name, .price{
    font-size:24px;
}
.name{
    display: flex;
    justify-content: space-between;
}
#heart:hover{
    cursor: pointer;
}
.wish_btn{
    position: relative;
    margin-right:30px;
    color: red;
}
.wish_btn:hover{
    cursor: pointer;
}
#heart{
    position: absolute;
    z-index: 0;
}
#wish_cnt{
    position: absolute;
    font-size: 9px;
    top: 7px;
    left: 4.7px;
    width: 15px;
    text-align: center;
    color: black;
    font-weight: bold;
    pointer-events: none;
}
.price{
    padding-bottom:40px;
    padding-top:25px;
}
.price del{
    font-size:14px;
    color: #dddddd;
}
.delivery_fee{
    font-weight:bold;
    border-top:1px solid #dddddd;
    border-bottom:1px solid #dddddd;
    padding:40px 0;
}
.delivery_fee, .color, .size, .product_button, .quantity{
    display:flex;
    align-items: center;
}
.delivery_fee div:first-child , .color div:first-child, .size div:first-child, .quantity div:first-child{
    color:#cccccc;
    width:30%;
}
.color{
    font-weight:bold;
    padding:40px 0 40px 0;
}
.color select{
    padding:5px 0;
    font-size:18px;
    width:60%;
    border: 1px solid #dddddd;
}
.size{
    padding-bottom:40px;
    font-weight:bold;
}
.size button{
    font-size:16px;
    border:1px solid #dddddd;
    background-color:#fff;
    padding:5px 10px;
    margin-right:20px;
}
.size button:hover{
    cursor:pointer;
}
.quantity{
    padding-bottom:40px;
    border-bottom: 1px solid #dddddd;
    font-weight:bold;
}
.quantity_minus, .quantity_plus{
    background-color: #FFAEC9;
    color: #ffffff;
    font-size:16px;
}
.quantity_minus:hover, .quantity_plus:hover{
    cursor: pointer;
}
input[name="quantity"]{
    font-size:18px;
    width:30px;
    text-align: center;
    padding:5px;
}
.total{
    display: flex;
    align-items: center;
    font-size:24px;
    padding:20px 0;
}
.total div:first-child{
    width:30%;
}
.product_button{
    padding-top:50px;
    justify-content: space-around;
}
.product_button input{
    width:45%;
    font-size:24px;
    font-weight:bold;
    padding:20px 0;
    background-color:#ffffff;
    border:1px solid #cccccc;
}
.product_button input:hover{
    cursor: pointer;
}
.product_button input:first-child:hover{
    background-color:#eeeeee;
}
.product_button input:last-child:hover{
    background-color:#DC98AF;
}
.product_button input:last-child{
    background-color: #FFAEC9;
    border:1px solid #FFAEC9;
    color:#ffffff;
}
.toggle_move{
    display: flex;
    margin-top:80px;
    justify-content: center;
    top:0px;
}
.toggle_move > div{
    width:80%;
    border-top:5px solid #eeeeee;
    border-radius:3px;
    display:flex;
    justify-content:center;
}
#move_reviews, #move_questions{
    font-size:24px;
    font-weight:bold;
    padding:20px;
}
#move_reviews:hover, #move_questions:hover{
    border-top:5px solid #FFAEC9;
    margin-top:-5px;
    cursor: pointer;
}
.move_top{
    display: none;
    font-size:22px;
    font-weight:bold;
    position:fixed;
    right:3%;
    bottom:20%;
    background-color:#ffffff;
    border:3px solid #dddddd;
    padding:7px 11px;
    border-radius:50%;
    color: #dddddd;
}
.move_top:hover{
    color:#FFAEC9;
    border:3px solid #FFAEC9;
    cursor: pointer;
}