.MNG_nav{
    position: relative;
    display: flex;
    padding: 13px 0;
}
input[name="admin_keyword"]{
    border:1px solid #dddddd;
    padding: 8px;
    font-size: 18px;
}
#admin_search{
    background: #FFAEC9;
    color: #ffffff;
    font-size: 18px;
    padding: 9px 15px;
}
#admin_search:hover{
    cursor: pointer;
}
.point{
    font-weight: bold;
    margin-top: 15px;
}
.nav_each > a{
    border: 1px solid #dddddd;
    padding:8px 25px;
}
.nav_each:hover .sub_MNG_nav{
    opacity: 1;
    pointer-events: auto;
}
.nav_each:hover > a{
    color:#FFAEC9;
}
.nav_each:last-child > a{
    margin-left: -1px;
}
.sub_MNG_nav{
    position: absolute;
    border: 1px solid #dddddd;
    top:41px;
    padding:5px 0;
    text-align: center;
    background-color: #ffffff;
    opacity: 0;
    pointer-events: none;
    transition:opacity 0.3s;
}
.sub_MNG_nav div{
    padding:10px 15px;
}
.sub_MNG_nav a{
    padding:5px 15px;
}
.sub_MNG_nav a:hover{
    color:#FFAEC9;
}
.MNG_box{
    margin-top:15px;
}
.MNG_table{
    width: 100%;
}
.MNG_table, .MNG_table tr, .MNG_table td{
    border-collapse: collapse;
    border:1px solid #dddddd;
}
.MNG_table tr:first-child{
    font-weight: bold;
}
.MNG_table tr:first-child > td{
    padding:10px;
}
.MNG_table td{
    padding:5px 10px;
}
.MNG_table td input[type="text"]{
    border:1px solid #cccccc;
    width:50%;
    padding:5px;
}
.MNG_table td > button{
    background-color: #FFAEC9;
    color:#ffffff;
    border-radius: 5px;
    padding:1px 5px;
    margin-left: 3px;
}
.MNG_table td > button:hover{
    cursor: pointer;
}
.MNG_table td > a{
    color: #FFAEC9;
    font-weight: bold;
    text-decoration: underline;
}
.paging{
    text-align:center;
    font-size: 18px;
    font-weight:bold;
    margin-top:50px;
    margin-bottom: 100px;
}
.paging a{
    padding:10px;
}
.paging a:hover{
    color:#FFAEC9;
}