.report_list{
    margin-top:5px;
}
.report{
    padding:30px 30px 30px 0;
}
.report:not(.report_list > div:last-child){
    border-bottom: 1px solid #dddddd;
}
.report_top{
    display: flex;
}
.report_top > div:first-child{
    width: 30%;
}
.report_middle, .report_bottom{
    margin-top:15px;
    display: flex;
}
.report_middle{
    align-items: center;
}
.report_middle div:first-child{
    min-width: 34px;
    font-weight: bold;
    font-size:18px;
}
.report_middle div:last-child{
    margin-left:10px;
    width:100%;
    border:1px solid #999999;
    padding:5px;
    cursor:text;
}
.report_bottom{
    flex-direction: column;
}
.report_bottom > div:first-child{
    font-size: 18px;
    font-weight: bold;
    width:10%;
}
.report_bottom > div:last-child{
    margin-top: 10px;
    border:1px solid #999999;
    min-height: 100px;
    padding: 5px;
    cursor:text;
}
.paging{
    text-align:center;
    font-size: 18px;
    font-weight:bold;
    margin-top: 30px;
    margin-bottom: 100px;
}
.paging a{
    padding:10px;
}
.paging a:hover{
    color:#FFAEC9;
}