@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
/* reset.css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption, tbody, tfoot, thead,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    color:#333333;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* a-style */
a {
    text-decoration:none;
    color: inherit;
    font-width: normal;
}

input, button{
    border:none;
    background:none;
    color:#000000;
    font-weight: normal;
}
input:focus{
    outline:none;
}
main{
    background-color: #ffffff;
    font-family: 'Noto Sans KR', sans-serif;
    margin:0 auto;
    max-width:1920px;
    min-width:1220px;
    min-height:700px;
}
input, textarea, select, button, pre{
    font-family: 'Noto Sans KR', sans-serif;
}
select:focus, textarea:focus{
    outline: none;
}
pre{
    line-height: 1.5;
}