.review_Report{
    min-width:1220px;
    position:fixed;
    z-index:999;
    justify-content:center;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.4);
}
.report_modal, .question_modal{
    position: fixed;
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%);
    background-color:#ffffff;
    width:600px;
    height:500px;
    z-index:999;
}
.img_modal img{
    position:fixed;
    left: 50%; 
    top: 50%;
    max-height:70%;
    min-height:70%;
    object-fit:cover;
    transform: translate(-50%, -50%);
    z-index:999;
}
#review_img_x{
    display: flex;
    position:fixed;
    right:4%;
    top:5%;
    background-color:transparent;
    color:#ffffff;
    font-size: 32px;
    border-radius:50%;
    padding:5px 9px;
    z-index:999;
}
#review_img_x:hover{
    background-color:#111111;
    cursor: pointer;
}
.review_bg, .question_bg, .reviews_bg{
    position:fixed;
    z-index:999;
    justify-content:center;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.6);
}
.report_title, .question_title{
    font-size:24px;
    font-weight:bold;
    display:flex;
    justify-content:space-between;
    padding:30px;
}
.report_title button, .question_title button{
    background-color:#ffffff;
    font-size:24px;
}
.report_title button:hover, .question_title button:hover{
    cursor: pointer;
}
.report_contents, .question_contents{
    border-top:1px solid #dddddd;
    margin:0 20px;
    padding:10px;
}
.question_product_name{
    padding:20px 0;
}
.report_contents select{
    margin-top:10px;
    padding:5px 3px;
}
textarea, select, button{
    font-size:14px;
}
textarea:focus, select:focus{
    outline:none;
}
textarea[name='report_contents'], textarea[name='question_contents']{
    margin-top:10px;
    padding:5px 3px;
    width:100%;
    height:200px;
}
.report_button, .question_button{
    width:100%;
    text-align:center;
}
.report_button button, .question_button button{
    font-size: 14px;
    font-weight:bold;
    color:#ffffff;
    border:none;
    background-color: #FFAEC9;
    padding:10px 20px
}
.report_button button:hover, .question_button button:hover{
    cursor: pointer;
    background-color: #DC98AF;
}
.reviews_title, .questions_title {
    padding:15px;
    font-size:28px;
    font-weight:bold;
    border-bottom:1px solid #dddddd;
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.reviews_title button, .questions_title button{
    font-size:24px;
    font-weight:bold;
    padding:5px 40px;
    border:1px solid #cccccc;
    background-color:#ffffff;
}
.reviews_title button:hover, .questions_title button:hover{
    background-color:#eeeeee;
    cursor: pointer;
}
.reviews_each{
    padding:20px;
    border-bottom:1px solid #dddddd;
}
.review_top{
    font-weight:bold;
    display:flex;
    justify-content:space-between;
}
.edit_del a{
    padding:10px;
}
.id{
    margin-left:5px;
}
.reviews_each button{
    background-color:#ffffff;
    font-size: 14px;
    font-weight:bold;
}
.reviews_each button:hover{
    cursor: pointer;
}
.review_middle{
    margin-top:20px;
    display:flex;
    align-items: center;
}
.rating{
    position:relative;
    font-size:20px;
    display:inline-block;
}
.rating > i{
    color:#aaaaaa;
}
.star{
    position: absolute;
    top:0;
    left: 0;
    width:91%;
    white-space: nowrap;
    overflow: hidden;
    color:#FFAEC9;
}
.reviews_date{
    font-size:18px;
    font-weight:bold;
    margin-left:15px;
}
.review_bottom{
    margin:15px 0;
}
.review_img{
    padding:20px 0;
}
.review_img img{
    height:180px;
    width:160px;
    object-fit:cover;
}
.each_img:hover{
    cursor: pointer;
}
.review_paging, .question_paging{
    margin: 50px 0;
    width: 100%;
    text-align:center;
    display: flex;
    justify-content: center;
}
.review_paging div, .question_paging div{
    padding:5px;
}
.review_paging div:hover, .question_paging div:hover{
    font-weight:bold;
    color: #FFAEC9;
    cursor: pointer;
}
#questions{
    margin-top: 30px;
    margin-bottom: 100px;
}
.questions_each, .answer_each{
    padding:30px 20px;
    border-bottom:1px solid #dddddd;
}
.answer_each{
    background-color: #f7f7f7;
}
.question_top{
    font-weight:bold;
}
.question_bottom{
    margin-top:30px;
}
.question_span, .answer_span{
    padding:4px 8px;
    color:#ffffff;
    margin-right:3px;
    font-weight:100;
}
.question_span{
    background-color:#777777;
}
.answer_span{
    background-color:#FFAEC9;
}
.empty_list{
    text-align: center;
    padding: 100px 0;
    font-size: 24px;
}