.write_review{
    margin-top:25px;
    border-top:1px solid #dddddd;
}
.review_product, .review_content, .review_image{
    padding:30px;
    display: flex;
    justify-content:space-between;
    border-bottom: 1px solid #dddddd;
}
.review_product_img{
    width:15%;
}
.review_product_img img{
    width: 100%;
    object-fit: cover;
    min-height: 180px;
    min-width: 150px;
    max-height: 200px;
    max-width: 180px;
}
.review_product_detail{
    width:80%;
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.review_product_detail > div:last-child{
    margin-top: 20px;
}
.product_info{
    font-weight: bold;
    font-size: 18px;
}
.rating{
    position:relative;
    font-size:24px;
    display:inline-block;
}
.rating > i{
    color:#aaaaaa;
}
.star{
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    white-space: nowrap;
    overflow: hidden;
    color:#FFAEC9;
}
input[type=range]{
    position:absolute;
    top:0;
    left: 0;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}
.review_content > div:first-child, .review_image > div:first-child{
    width: 15%;
}
.review_content > div:last-child, .review_image > div:last-child{
    width: 85%;
}
.review_content textarea{
    width: 100%;
    padding:10px;
}
#review_img{
    height: 180px;
    width: 160px;
    object-fit: cover;
}
.review_image input[type=file]{
    width:50%;
    padding:5px;
}
.review_content textarea, .review_image input[type=file]{
    border:1px solid #dddddd;
    font-size: 16px;
}
.review_button{
    text-align: center;
    margin-top:30px;
}
.review_button button{
    padding:10px 30px;
    font-size: 16px;
    font-weight: bold;
}
.review_button button:hover{
    cursor: pointer;
}
.review_button button[type=submit]{
    background-color: #FFAEC9;
    border: 1px solid #FFAEC9;
    color: #ffffff;
}
.review_button button[type=button]{
    margin-left: 10px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
}