.review_MNG{
    margin-top: 25px;
}
.table_box{
    margin-top: 10px;
    overflow-x: auto;
}
@media(max-width:1500px){
    .review_table{
        width:1500px;
    }
}
@media(min-width:1500px){
    .review_table{
        width: 100%;
    }
}
.review_table{
    text-align: center;
}
.review_table tr:first-child{
    background-color: #f5f5f5;
    border-bottom: 1px solid #999999;
}
.review_table td{
    padding: 15px;
}
.review_table button{
    padding:5px 10px;
    background-color: #ffffff;
    border:1px solid #dddddd;
}
.review_table button:hover{
    cursor: pointer;
}
.paging{
    padding:40px 0 40px 0;
    text-align:center;
    font-size: 18px;
    font-weight:bold;
}
.paging a{
    padding:10px;
}
.paging a:hover{
    color:#FFAEC9;
}
.search_user{
    text-align: center;
    margin-bottom: 50px;
}
.search_user input{
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: #dddddd;
    padding: 5px;
    width:20%;
    font-size: 16px;
}
.search_user button{
    padding:6px 15px;
    background-color: #FFAEC9;
    color: #ffffff;
    font-size: 16px;
}
.search_user button:hover{
    cursor: pointer;
}