.top_nav{
    display:flex;
    border-bottom: 1px solid #dddddd;
    width: 100%;
    margin-top:25px;
}
.top_nav div{
    margin-right: -1px;
    margin-bottom: -1px;
    padding:10px 0;
    font-size: 16px;
    font-weight: bold;
    border:1px solid #dddddd;
    background-color: #ffffff;
}
.top_nav a{
    padding: 6px 30px;
}
.able{
    display: flex;
    padding: 30px;
    border-bottom: 1px solid #dddddd;
}
.able > div:first-child{
    width: 20%;
}
.able > div:first-child > img{
    object-fit:cover;
    width: 100%;
    min-height: 180px;
    min-width: 150px;
    max-height: 200px;
    max-width: 180px;
}
@media(max-width:1500px){
    .able > div:nth-child(2){
    padding:20px;
    }
}
#empty_list{
    text-align: center;
    padding: 110px 0;
    font-size: 20px;
    border-bottom: 1px solid #dddddd;
}
.able > div:nth-child(2){
    width:66%;
    display: flex;
    flex-direction:column;
    justify-content:center;
}
.able > div:nth-child(2) > div{
    padding:25px 0;
}
.able > div:nth-child(2) > div:first-child{
    font-size:20px;
    font-weight: bold;
}
.able > div:last-child{
    display: flex;
    flex-direction: column;
    justify-content:center;
    width: 14%;
    text-align: center;
}
.able > div:last-child > div{
    padding:15px 0;
}
.able > div:last-child > div > button{
    width: 100%;
    background-color: #ffffff;
    border:1px solid #FFAEC9;
    color: #FFAEC9;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0;
    border-radius: 5px;
}
.able > div:last-child > div > button:hover{
    cursor: pointer;
}
.able > div:last-child > div > a{
    font-weight: bold;
}
.paging{
    text-align:center;
    font-size: 18px;
    font-weight:bold;
    margin-top: 50px;
    margin-bottom: 100px;
}
.paging a{
    padding:10px;
}
.paging a:hover{
    color:#FFAEC9;
}   