.container{
    padding:0 30px;
    margin:0 auto;
    min-height:1200px;
    max-width: 1600px;
}
.contents{
    margin-top: 20px;
}
.user_info{
    font-size: 18px ;
    font-weight: bold;
    margin-top: 20px;
    width:100%;
    border-top: 2px solid #999999;
}
.user_info tr{
    border-bottom: 1px solid #dddddd;
}
.user_info tr > td{
    padding:30px;
}
.user_info tr > td:first-child{
    border-right: 1px solid #dddddd;
    text-align: center;
    width:20%;
}
.edit_password > div{
    display: table-row;
}
.edit_password > div > div{
    display: table-cell;
    padding:10px;
}
.edit_password input{
    border:1px solid #999999;
    padding:5px;
}
input[name='address'], input[name='address2']{
    border:1px solid #999999;
    font-size: 18px;
    padding:5px;
    width: 70%;
}
#change_address, #change_address2{
    font-size: 18px;
    padding:6px 10px;
    margin-left:5px;
    background-color: #FFAEC9;
    color: #ffffff;
}
#change_address:hover, #change_address2:hover{
    cursor: pointer;
}
.right{
    text-align: right;
    margin-top: 10px;
}
#withdrawal{
    padding:5px;
    background-color: #555555;
    color: #ffffff;
    margin-left: 5px;
}
.edit_button{
    text-align: center;
}
.edit_button button{
    font-size:20px;
    font-weight: bold;
    color: #ffffff;
    background-color: #FFAEC9;
    border: 1px solid #FFAEC9;
    padding:5px 15px;
}
.edit_button button:hover, #withdrawal:hover{
    cursor: pointer;
}
#user_pwd{
    border:1px solid #cccccc;
    padding:5px;
    width: 30%;
}
.check_pwd{
    text-align: center;
    margin-top: 20px;
}
.check_pwd button{
    font-size: 20px;
    font-weight: bold;
}
.check_pwd button:hover{
    cursor: pointer;
}
.check_pwd button[type='submit']{
    color: #ffffff;
    border: 1px solid #FFAEC9;
    background-color: #FFAEC9;
    padding:5px 15px;
}
.check_pwd button[type='button']{
    border:1px solid #cccccc;
    background-color: #ffffff;
    padding:4px 14px;
}
.ex{
    font-weight:bold;
    margin-top: 20px;
    margin-bottom:-10px;
}