<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="User" type="kr.co.jnh.domain.User"/>
        <typeAlias alias="MailAuthDto" type="kr.co.jnh.domain.MailAuthDto"/>
        <typeAlias alias="Product" type="kr.co.jnh.domain.Product"/>
        <typeAlias alias="NoticeDto" type="kr.co.jnh.domain.NoticeDto"/>
        <typeAlias alias="Cart" type="kr.co.jnh.domain.Cart"/>
        <typeAlias alias="Order" type="kr.co.jnh.domain.Order"/>
        <typeAlias alias="AskingDto" type="kr.co.jnh.domain.AskingDto"/>
        <typeAlias alias="Returns" type="kr.co.jnh.domain.Returns"/>
        <typeAlias alias="Wish" type="kr.co.jnh.domain.Wish"/>
        <typeAlias alias="Review" type="kr.co.jnh.domain.Review"/>
        <typeAlias alias="ReportReview" type="kr.co.jnh.domain.ReportReview"/>
        <typeAlias alias="SearchCondition" type="kr.co.jnh.domain.SearchCondition"/>
        <typeAlias alias="Question" type="kr.co.jnh.domain.Question"/>
    </typeAliases>
</configuration>