<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.jnh.dao.OrderMapper">

    <resultMap id="orderWithProductResultMap" type="Order">
        <result property="user_id" column="user_id"/>
        <result property="name" column="name"/>
        <result property="address" column="address"/>
        <result property="phone" column="phone"/>
        <result property="del_request" column="del_request"/>
        <result property="order_no" column="order_no"/>
        <result property="product_id" column="o_product_id"/>
        <result property="size" column="o_size"/>
        <result property="quantity" column="quantity"/>
        <result property="color" column="o_color"/>
        <result property="status" column="status"/>
        <result property="order_date" column="order_date"/>
        <result property="tid" column="tid"/>
        <result property="payment_method_type" column="payment_method_type"/>

        <association property="product" javaType="Product">
            <result property="product_id" column="p_product_id"/>
            <result property="product_name" column="product_name"/>
            <result property="color" column="p_color"/>
            <result property="size" column="p_size"/>
            <result property="price" column="price"/>
            <result property="discount" column="discount"/>
            <result property="image" column="image"/>
            <result property="dis_price" column="dis_price"/>
            <result property="total" column="total"/>
            <result property="quantity" column="p_quantity"/>
        </association>
    </resultMap>

    <select id="selectOrderWithProduct" parameterType="Map" resultMap="orderWithProductResultMap">
        SELECT
            o.user_id,
            o.name,
            o.address,
            o.phone,
            o.del_request,
            o.order_no,
            o.product_id AS o_product_id,
            o.size AS o_size,
            o.quantity,
            o.color AS o_color,
            o.status,
            o.order_date,
            o.tid,
            o.payment_method_type,

            -- Product 정보
            p.product_id AS p_product_id,
            p.product_name,
            p.color AS p_color,
            p.size AS p_size,
            p.price,
            p.discount,
            p.image,
            FLOOR(p.price - p.price / 100 * p.discount) AS dis_price,
            FLOOR((p.price - p.price / 100 * p.discount) * o.quantity) AS total,
            o.quantity AS p_quantity

        FROM orders o
                 JOIN product p
                      ON o.product_id = p.product_id
                          AND o.size = p.size
        WHERE o.order_no = #{order_no}
        <if test="size != null">AND o.size = #{size}</if>
        <if test="product_id != null">AND o.product_id = #{product_id}</if>
    </select>

    <select id="select" parameterType="Map" resultType="Order">
        SELECT * FROM orders
        WHERE user_id = #{id} AND is_deleted != 1
        AND status NOT LIKE concat('%', '결제', '%')
        group by order_no
        ORDER BY order_no DESC
        LIMIT #{sc.offset}, #{sc.pageSize}
    </select>

    <select id="selectCnt" parameterType="Map" resultType="int">
        SELECT count(distinct order_no) FROM orders
        WHERE user_id = #{id} AND is_deleted != 1
        AND status NOT LIKE concat('%', '결제', '%')
    </select>

    <select id="selectOne" parameterType="Map" resultType="Order">
        SELECT * FROM orders
        WHERE user_id = #{id} AND order_no = #{order_no}
        <if test="product_id != null">AND product_id = #{product_id}</if>
        <if test="size != null">AND size = #{size}</if>
        <if test="exception != null and exception  == 1">
            AND status NOT IN ('반품대기중' , '교환대기중', '반품처리중', '교환처리중', '반품완료', '교환완료', '취소완료');
        </if>
    </select>

    <select id="selectAll" resultType="Order">
        SELECT * FROM orders
        ORDER BY order_no desc
    </select>

    <insert id="insert" parameterType="Order">
        INSERT INTO orders
        (user_id, name, address, phone, del_request, order_no, product_id, size, quantity, color)
        VALUES (#{user_id}, #{name}, #{address}, #{phone}, #{del_request}, #{order_no}, #{product_id}, #{size}, #{quantity}, #{color})
    </insert>

    <delete id="delete" parameterType="Order">
        DELETE FROM orders
        WHERE order_no = #{order_no}
    </delete>

    <update id="update" parameterType="Map">
        UPDATE orders
        <set>
            <if test="is_deleted != null">is_deleted = #{is_deleted},</if>
            <if test="status != null">status = #{status},</if>
            <if test="tid != null">tid = #{tid},</if>
            <if test="payment_method_type != null">payment_method_type = #{payment_method_type},</if>
            <if test="issuer_corp != null">issuer_corp = #{issuer_corp}</if>
        </set>
        WHERE order_no = #{order_no} AND user_id = #{id}
    </update>

    <update id="returnUpdate" parameterType="Map">
        UPDATE orders
        SET status = #{status}
        WHERE order_no = #{order_no}
          AND user_id = #{id}
          <if test="product_id != null">AND product_id = #{product_id}</if>
          <if test="size != null"> AND size = #{size}</if>
    </update>

    <select id="selectId" parameterType="String" resultType="String">
        SELECT order_no FROM orders
        WHERE order_no LIKE CONCAT(#{order_no},'%') ORDER BY order_no DESC LIMIT 1
    </select>

    <select id="selectMngCnt" parameterType="SearchCondition" resultType="int" >
        SELECT
        <if test="gender neq ''">count(DISTINCT order_no)</if>
        <if test="gender eq ''">count(*)</if>
        FROM orders
        <where>
            <if test="category neq ''">status = #{category}</if>
            <if test="option neq '' and keyword neq ''">AND ${option} LIKE concat('%',#{keyword},'%')</if>
            AND status NOT LIKE concat('%', '결제', '%')
        </where>
    </select>

    <select id="selectMng" parameterType="SearchCondition" resultType="Order">
        SELECT o.*
        FROM orders o
        JOIN (
        SELECT DISTINCT order_no
        FROM orders
        <where>
            <if test="category neq ''">status = #{category}</if>
            <if test="option neq '' and keyword neq ''">AND ${option} LIKE concat('%',#{keyword},'%')</if>
            AND status NOT LIKE concat('%', '결제', '%')
        </where>
        ORDER BY order_no ASC
        LIMIT #{offset}, #{pageSize}
        ) sub ON o.order_no = sub.order_no
        ORDER BY o.order_no ASC, o.product_id ASC;
    </select>
</mapper>