<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.jnh.dao.ProductMapper">
    <select id="select" parameterType="String" resultType="Product">
        SELECT * FROM product
        WHERE product_id LIKE CONCAT(#{product_id},'%') ORDER BY size ASC LIMIT 1
    </select>

    <insert id="insert" parameterType="Product">
        INSERT INTO product
            (product_id, product_name, gender, category, color, size, stock, price, discount, image)
        VALUES (#{product_id}, #{product_name}, #{gender}, #{category}, #{color}, #{size}, #{stock}, #{price}, #{discount}, #{image})
    </insert>

    <update id="updateStock" parameterType="Product">
        UPDATE product
        SET stock = #{stock}
        WHERE product_id = #{product_id} AND size = #{size}
    </update>

    <update id="update" parameterType="map">
        UPDATE product
        <set>
            <if test="bought_cnt != null">bought_cnt = #{bought_cnt},</if>
            <if test="wish_cnt != null">wish_cnt = #{wish_cnt},</if>
            <if test="rating != null">rating = #{rating},</if>
            <if test="review_cnt != null">review_cnt = #{review_cnt},</if>
            <if test="stock != null">stock = #{stock},</if>
            <if test="review_cnt != null">discount = #{discount},</if>
            <if test="review_cnt != null">price = #{price},</if>
        </set>
        WHERE product_id = #{product_id}
        <if test="size != null" >AND size=#{size}</if>
    </update>

    <delete id="delete" parameterType="Integer">
        DELETE FROM product
        WHERE product_id = #{product_id}
    </delete>

    <select id="selectAll" parameterType="map" resultType="Integer">
        SELECT * FROM product
        WHERE gender = #{gender} AND categoty = #{category} ORDER BY rating DESC
    </select>

    <select id="selectId" parameterType="String" resultType="String">
        SELECT product_id FROM product
        WHERE product_id LIKE CONCAT(#{product_id},'%') ORDER BY product_id DESC LIMIT 1
    </select>

    <select id="selectSize" parameterType="String" resultType="String">
        SELECT size FROM product
        WHERE product_id LIKE #{product_id} AND stock > 0 ORDER BY size asc
    </select>

    <select id="searchResultCnt" parameterType="SearchCondition" resultType="int">
        SELECT count(distinct product_id)
        FROM  product
        WHERE true
        <include refid="searchCondition"/>
    </select>

    <sql id="searchCondition">
        AND product_name LIKE concat('%', #{keyword}, '%')
        <if test="!gender.equals('')">
            AND gender LIKE concat(#{gender})
        </if>
        <if test="!gender.equals('') and category.equals('')">
            AND gender LIKE concat(#{gender})
        </if>
        <if test="!gender.equals('') and !category.equals('')">
            AND gender LIKE concat(#{gender})
            AND category LIKE concat(#{category})
        </if>
        OR product_id LIKE concat('%', #{keyword}, '%')
        <if test="!gender.equals('')">
            AND gender LIKE concat(#{gender})
        </if>
        <if test="!gender.equals('') and category.equals('')">
            AND gender LIKE concat(#{gender})
        </if>
        <if test="!gender.equals('') and !category.equals('')">
            AND gender LIKE concat(#{gender})
            AND category LIKE concat(#{category})
        </if>
    </sql>

    <select id="searchSelectPage" parameterType="SearchCondition" resultType="Product">
        SELECT *
        FROM  product
        WHERE true
        <include refid="searchCondition"/>
        group by product_id, rating
        <if test="option == 'product_id'">
            ORDER BY product_id desc
        </if>
        <if test="option == 'rating'">
            ORDER BY rating desc
        </if>
        <if test="option == 'bought_cnt'">
            ORDER BY bought_cnt desc
        </if>
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="selectAtSize" parameterType="map" resultType="Product">
        SELECT * FROM product
        WHERE product_id LIKE CONCAT(#{product_id},'%') AND size = #{size}
    </select>

    <select id="selectProductAdmin" parameterType="SearchCondition" resultType="Product">
        SELECT *
        FROM  product
        WHERE true
        <include refid="searchCondition"/>
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="selectProductAdminCnt" parameterType="SearchCondition" resultType="int">
        SELECT count(*)
        FROM  product
        WHERE true
        <include refid="searchCondition"/>
        ORDER BY rating desc
    </select>
</mapper>