<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.jnh.dao.ReviewMapper">
    <resultMap id="reviewResultMap" type="review">
        <result property="rno" column="rno"/>
        <result property="order_no" column="r_order_no"/>
        <result property="user_id" column="user_id"/>
        <result property="product_id" column="r_product_id"/>
        <result property="contents" column="contents"/>
        <result property="rating" column="rating"/>
        <result property="reg_date" column="reg_date"/>
        <result property="up_date" column="up_date"/>
        <result property="image" column="r_image"/>
        <result property="whether" column="whether"/>
        <result property="report_cnt" column="report_cnt"/>
        <result property="size" column="size"/>

        <association property="order" javaType="Order">
            <result property="order_no" column="o_order_no"/>
            <result property="size" column="o_size"/>
            <result property="quantity" column="quantity"/>
            <result property="color" column="o_color"/>
            <result property="order_date" column="order_date"/>

            <association property="product" javaType="Product">
                <result property="product_name" column="product_name"/>
                <result property="image" column="p_image"/>
            </association>
        </association>
    </resultMap>

    <select id="reviewWithOrder" parameterType="Map" resultMap="reviewResultMap">
        SELECT
            r.rno,
            r.order_no AS r_order_no,
            r.user_id,
            r.product_id AS r_product_id,
            r.contents,
            r.rating,
            r.reg_date,
            r.up_date,
            r.image as r_image,
            r.whether,
            r.report_cnt,
            r.size,

            o.order_no AS o_order_no,
            o.size AS o_size,
            o.quantity,
            o.color AS o_color,
            o.order_date,

            p.product_name,
            p.image as p_image

        FROM review r
                 JOIN orders o ON r.order_no = o.order_no AND r.product_id = o.product_id AND r.size = o.size
                 JOIN product p ON o.product_id = p.product_id AND o.size = p.size
        WHERE true
        <if test="id != null">AND r.user_id = #{id}</if>
        <if test="product_id != null">AND r.product_id = #{product_id}</if>
        AND r.whether = #{whether}

        <choose>
            <when test="sc.option == 'reg_date'">
                ORDER BY r.reg_date DESC
            </when>
            <when test="sc.option == 'rating'">
                ORDER BY r.rating DESC, r.rno DESC
            </when>
            <otherwise>
                ORDER BY r.rno DESC
            </otherwise>
        </choose>

        LIMIT #{sc.offset}, #{sc.pageSize}
    </select>

    <select id="selectAll" resultType="Review">
        SELECT * FROM review
        ORDER BY report_cnt desc
    </select>

    <select id="selectOne" parameterType="int" resultType="Review">
        SELECT * FROM review
        WHERE rno = #{rno};
    </select>

    <select id="selectOneWithOrder" parameterType="int" resultMap="reviewResultMap">
        SELECT
        r.rno,
        r.order_no AS r_order_no,
        r.user_id,
        r.product_id AS r_product_id,
        r.contents,
        r.rating,
        r.reg_date,
        r.up_date,
        r.image as r_image,
        r.whether,
        r.report_cnt,
        r.size,

        o.order_no AS o_order_no,
        o.size AS o_size,
        o.quantity,
        o.color AS o_color,
        o.order_date,

        p.product_name,
        p.image as p_image

        FROM review r
        JOIN orders o ON r.order_no = o.order_no AND r.product_id = o.product_id AND r.size = o.size
        JOIN product p ON o.product_id = p.product_id AND o.size = p.size
        WHERE rno = #{rno}
    </select>

    <insert id="insert" parameterType="Review">
        INSERT INTO review
            (order_no, user_id, product_id, size)
        VALUE
            (#{order_no}, #{user_id}, #{product_id}, #{size})
    </insert>

    <update id="update" parameterType="Review">
        UPDATE review
        <set>
            <if test="contents != null and contents != ''">contents = #{contents},</if>
            <if test="rating != null and rating > 0">rating = #{rating},</if>
            <if test="reg_date != null">reg_date = #{reg_date},</if>
            <if test="up_date != null">up_date = #{up_date},</if>
            <if test="whether != null and whether >= 0">whether = #{whether},</if>
            <if test="image != null and image != ''">image = #{image},</if>
            <if test="report_cnt != null and report_cnt > 0">report_cnt = #{report_cnt},</if>
        </set>
        WHERE rno = #{rno} AND user_id = #{user_id}
    </update>

    <update id="delete" parameterType="int">
        UPDATE review
        SET whether = #{whether}
        WHERE rno = #{rno}
    </update>

    <update id="cancelDelete" parameterType="Map">
        UPDATE review
        set whether = #{whether}
        WHERE order_no = #{order_no} AND product_id = #{product_id} AND user_id = #{id} AND size = #{size}
    </update>

    <!--  해당 product_id의 작성된(whether=1) 리뷰들의 점수 평균 반환  -->
    <select id="ratingAvg" parameterType="String" resultType="float">
        SELECT AVG(rating) AS average_value
        FROM review
        where whether = 1 AND product_id = #{product_id}
    </select>
    
    <select id="selectPageCnt" parameterType="Map" resultType="int">
        SELECT count(*) FROM review
        WHERE
        <if test="id != null"> user_id = #{id}</if>
        <if test="product_id != null">product_id = #{product_id}</if>
            AND whether = #{whether}
    </select>

    <select id="selectPage" parameterType="Map" resultType="Review">
        SELECT * FROM review
        WHERE true
        <if test="id != null">AND user_id = #{id}</if>
        <if test="product_id != null">AND product_id = #{product_id}</if>
            AND whether = #{whether}
        <if test="sc.option == 'reg_date'">
            ORDER BY reg_date desc
        </if>
        <if test="sc.option == 'rating'">
            ORDER BY rating desc, rno desc
        </if>
        LIMIT #{sc.offset}, #{sc.pageSize}
    </select>

    <select id="SelectPageByReviewCnt" parameterType="SearchCondition" resultType="int">
        SELECT count(*) FROM review
        WHERE true
        <if test="keyword != null">
            <if test="option == 'rno'">
                AND rno LIKE concat('%',#{keyword},'%')
            </if>
            <if test="option == 'user_id'">
                AND user_id LIKE concat('%',#{keyword},'%')
            </if>
        </if>
        AND whether NOT IN(0, 3)
    </select>

    <select id="SelectPageByReview" parameterType="SearchCondition" resultType="Review">
        SELECT * FROM review
        WHERE true
        <if test="keyword != null">
            <if test="option == 'rno'">
                AND rno LIKE concat('%',#{keyword},'%')
            </if>
            <if test="option == 'user_id'">
                AND user_id LIKE concat('%',#{keyword},'%')
            </if>
        </if>
        AND whether NOT IN(0, 3)
        ORDER BY whether asc, report_cnt desc
        LIMIT #{offset}, #{pageSize}
    </select>
</mapper>