<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.jnh.dao.ReviewMapper">
    <select id="selectAll" resultType="Review">
        SELECT * FROM review
        ORDER BY report_cnt desc
    </select>

    <select id="selectOne" parameterType="int" resultType="Review">
        SELECT * FROM review
        WHERE rno = #{rno};
    </select>

    <insert id="insert" parameterType="Review">
        INSERT INTO review
            (order_no, user_id, product_id, size)
        VALUE
            (#{order_no}, #{user_id}, #{product_id}, #{size})
    </insert>

    <update id="update" parameterType="Review">
        UPDATE review
        <set>
            <if test="contents != null">contents = #{contents},</if>
            <if test="rating != null">rating = #{rating},</if>
            <if test="reg_date != null">reg_date = #{reg_date},</if>
            <if test="whether != null">whether = #{whether},</if>
            <if test="image != null">image = #{image},</if>
        </set>
        WHERE rno = #{rno} AND user_id = #{user_id}
    </update>

    <update id="delete" parameterType="int">
        UPDATE INTO WHERE
        SET whether = #{whether}
        WHERE rno = #{rno}
    </update>

    <select id="ratingAvg" parameterType="String" resultType="float">
        SELECT AVG(rating) AS average_value
        FROM review
        where whether = 1 AND product_id = #{product_id}
    </select>
    
    <select id="selectPageCnt" parameterType="Map" resultType="int">
        SELECT count(*) FROM review
        WHERE
        <if test="id != null"> user_id = #{id}</if>
        <if test="product_id != null">product_id = #{product_id}</if>
            AND whether = #{whether}
    </select>

    <select id="selectPage" parameterType="Map" resultType="Review">
        SELECT * FROM review
        WHERE
        <if test="id != null"> user_id = #{id}</if>
        <if test="product_id != null">product_id = #{product_id}</if>
            AND whether = #{whether}
        ORDER BY reg_date desc, rno desc
        LIMIT #{sc.offset}, #{sc.pageSize}
    </select>
</mapper>